html, body {
      height: 100%;
    }
body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
}

core-animated-pages {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 72px;
  overflow: hidden;
}

section > div {
  height: 100%;
  color: white;
  padding:0 60px;
}

h1,h2,h3,h4,h5{
	font-weight: 500;
	line-height: 1.8em;
}

h1{font-size: 72px;}
h2{font-size: 56px;}
h3{font-size: 34px;}
h4{font-size: 24px;}
h5{font-size: 20px;}

li,p{
	line-height: 1.8em;
}

.darktext{
	color: #333;
}
.lighttext{
	color: #FFF;
}

.smalltext{
	font-size: 0.6em;
}

.title{
	font-size: 0.9em;
	line-height: 1.5em;
}
.subtitle{
	font-size: 0.8em;
	color: #F0F0F0;
	font-weight: 300;
}
.bgwhite .title{
	color: #333;
}

.bgwhite .subtitle{
	color: #999;
}

.bgwhite{
	color: #333;
}

.bgpurple{
	background-color: #9C27B0;
}

.bgred{
	background-color: #F44336;
}
.bgblue{
	background-color: #2196F3;
}
.bgdarkblue{
	background-color: #3F51B5;
}
.bggreen{
	background-color: #4CAF50;
}
.bggrey{
	background-color: #607D8B;
}

